<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="/static/style.css"/> <!--references the style sheet-->
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>


<body class="page2">

<div class="topnav" id="mytopnav">
    <a href="/">&emsp;&emsp;&emsp;&emsp;Home</a>
    <a href="#aboutsec">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</div>

<div class="sidebyside">
    <div class="forimg">
        <img src="https://live.staticflickr.com/65535/52658689637_643454f7fa_n.jpg" alt="Photo of Emmanuella Desruisseaux">
    </div>
    <div class="section1">
    <h1>Emmanuella Desruisseaux.</h1>
    <p>
        <strong>Hello again! I am a first-year student at Providence College in Rhode Island. A lot of my time is spent coding, whether it be through developing websites/applications, gathering data, trying to develop games, or even trying to dip my toes in the world of AI. But when I’m not coding, I also participate in many advocacy
        programs and work to help those who are disadvantaged.</strong>
    </p>
    <p>
        <strong>I also love to stay active by going on runs,
        going to the gym, and playing volleyball. I also love to read, regardless of genre, so much so
        that it has allowed me to find interest in a wide range of things, from the arts to learning about
        scientific breakthroughs. Through the work I’ve done in my life, I've tried to incorporate my
        interests and experiences into what I create.</strong>
    </p>
    </div>

</div>

<div id="aboutsec">
<h2>ABOUT ME.&emsp;</h2>
</div>

<div class="biggersec">
<div class="section2">
    <p><strong>I'd like to tell you more about myself and my vision for my role in the world and why I have said vision.
        What drives me most in my work is knowing that whatever I do has the potential to make a positive impact on the world.
        This is why I find joy in working with technology, because I believe that technology has the potential
        to help many people in great ways because, even now, it has helped so many.
        However, I don’t rely on tech alone; I spend a lot of my time working in advocacy and outreach.
        I believe I can’t help anyone if I don’t do something, so with my will to take initiative and my technical abilities,
        I believe I can make real change. I believe that as an employer,
        I will be able to bring not only a positive perspective but also make a great impact through my work.</strong></p>
</div>

    <div class="secimg">
        <img src="https://live.staticflickr.com/65535/52661665324_1869304fd7_o.png">
    </div>

}
</div>
<!---add footer--->
<div class="footer">
<p>
</p>
</div>

</body>
</html>