<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="/static/style.css"/> <!--references the style sheet-->
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>

</head>

<body class="page4">

<div class="topnav" id="mytopnav">
    <a href="/">&emsp;&emsp;&emsp;&emsp;Home</a>
    <a href="/about#aboutsec">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</div>

<br><br>
<div class="resume">

<p>To get in touch for me for any business relations please email me at: blueria10@gmail.com
        <br><br>
        Hover over this box for my resume!
    </p>
            <img class = "actresume" src="https://live.staticflickr.com/65535/52669990415_5455f47a9e_b.jpg">

</div>

</body>

</html>