<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/static/style.css"/> <!--references the style sheet-->
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>

<main>
<body class="page1">
<div class="flex-cont">
<p><span id="greet">Nice to meet you!</span> My name is <a href="/about" class="Emmanuella">Emmanuella</a>! I am a developer who also loves to be in tune with
    my creative side as a designer! You may also catch me <a href="/projects" class="data">analyzing</a>
    and striving to learn more about the world around me and its inhabitants.
    I'm excited for you to learn a little more <a href="/about#aboutsec" class="aboutme">about</a> me and <a href ="/projects" class="mywork">my work</a>!</p>
</div>
</body>
</main>

</html>