<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Work</title>
    <link rel="stylesheet" href="/static/style.css" /> <!--references the style sheet-->
    <link href='https://fonts.googleapis.com/css?family=League Spartan' rel='stylesheet'>
</head>
<body class="page3">

<!--Include navigation bar-->
<div class="topnav">
    <a href="/">&emsp;&emsp;&emsp;&emsp;Home</a>
    <a href="#aboutsec">About</a>
    <a href="/projects">Projects</a>
    <a href="/contact">Contact</a>
</div>

<h3>View Some <span id="workpg">Work</span> I've Done.</h3>

<div class="container1">
<div class="project">
    <a href="https://github.com/blueria10/makeyourchoiceApp.git"><img src="https://live.staticflickr.com/65535/52670147175_53d6be7ed5_b.jpg"></a>
</div>
<div class="project">
    <img src="https://live.staticflickr.com/65535/52670146725_f95ea1edb5_b.jpg">
</div>
<div class="project">
    <img src="https://live.staticflickr.com/65535/52670146725_f95ea1edb5_b.jpg">
</div>
</div>

</body>
</html>